@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Our Ward <br /> <a href="Sacraments">Sacrament Program Planner</a></h1>
    <img src="https://assets.ldscdn.org/8f/ae/8fae921aa759fdc2b48c34aaa2f1006ca2de53d9/caldwell_idaho_stake_center.jpeg" alt="Church Building Photo" width="75% " />
</div>
