@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <!-- Apply your Parallax background image here -->
    <div class="gradient-overlay-half-white-v1 bg-img-hero rounded-lg"
         style='background-image: url(https://newsroom.churchofjesuschrist.org/media/960x720/Nairobi-Kenya-Rendering.jpg'>
        <div class="container position-relative z-index-2 space-2-top space-3-bottom space-4--lg">
            <div class="row justify-content-lg-between align-items-lg-center align-items-center">
                <div class="col-lg-10 mb-9 mb-lg-0 my-lg-5">

                    <div class="text-center">
                        <h1 class="display-4 text-center text-light">
                            OUR WARD <br />
                            <a href="Sacraments">Sacrament Program Planner</a>
                        </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<!-- End Hero Section -->
